/* Reset css */
ul,ol{
    list-style-type: none;
}
a {
    text-decoration: none;}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;

}
/* header */
.logo {
    font-family: " Releway ", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.header-logo .logo-part {
    color: #2e2f42;
} 
.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-adress {
    font-style: normal;
}
.header-adress-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-adress-link:hover,
.header-adress-link:focus {
color: #404bbf;
}

/* hero-page */

.hero {
    background-color: #2e2f42;
}

.hero-titel{
font-weight: 700;
font-size: 56px;
line-height: 1.07
letter-spacing  0.02em;
text-align: center;
color: #fff;
}

.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #fff;
 }
 /* benefits */

 .benefits-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
 
 }

 .text-benefits {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 }

 /* Our team */
 .team-pages {
    background-color:#f4f4fd;
 }
 .team-titel {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
 }
 .team-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }
.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

}
.team-item {
    background-color: #fff;
}
 /* Portfolio*/
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
/*footer*/
.footer {
    background-color: #2e2f42;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


