/* Reset css */
ul,ol{
    list-style-type: none;
}
a {
    text-decoration: none;}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* header */
.logo {
    font-family: " Releway ", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.header-logo .logo-part {
    color: #2e2f42;
} 
.header-nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-adress {
    font-style: normal;
}
.header-adress-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-adress-link:hover,
.header-adress-link:focus {
color: #404bbf;
}

/* hero-page */

.hero {
    background-color: #2e2f42;
}

.hero-titel{
font-weight: 700;
font-size: 56px;
line-height: 1.07
letter-spacing  0.02em;
text-align: center;
color: #fff;
}

.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #fff;
 }
 /* benefits */

 .benefits-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
 
 }

 .text-benefits {
font-weight: 400;
font-size: 16px;
 }

 /* Our team */
 




